header {
  text-align: center;
}

.hero {
  width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 0 0 15px 0;
}

.comment-body {
  height: 120px;
  width: 590px;
}

#drink-pic {
  width: 200px;
  height: 300px;
  
}
.inv-head {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

.card {
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
.card .card-content .card-title {
  margin-bottom: 6vh;
  margin-left: auto;
  margin-right: auto;
}
.card-action a{
  margin-right: 0px !important;
}

.flex-cards {
  display: flex;
  flex-wrap: wrap;
}

.body-content {
  flex: 5;
}

footer {
  text-align: center;
}

footer a {
  text-decoration: none;
  text-align: center;
  color: black;
}

footer a:hover {
  color: grey;
  text-decoration: none;
}

footer a:visited {
  font-style: italic;
  text-decoration: none;
}