
body {
  background-color: rgb(155, 172, 163);
}

nav {
  height: 500px;
  background-size: cover;
  background-position: center;
  font-size: 45px;
  color: white;
  background-image: url("../assets/images/navbar.jpeg");
}

a {
  text-decoration: none;
  color: black;
  font-size: large;
  position: relative;
  align-items: baseline;
}

/* Home view Styles */
#blogposts {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.postItem {
  margin: 10px 0 5px 35px;
}


/* Individual blog post styles */
#authorName, #datePosted {
  font-size: 20px;
  font-weight: bold;
}

#singlePost {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#comments p{
  display: flex;
  flex-direction: column;
  background-color: rgb(133, 163, 147);
  border-radius: 10px;
  padding: 5px;
}

#postID {
  visibility: hidden;
}

/* Form styles */
#loginForm, 
#registrationForm, 
#newPostForm,
#editPostForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#holder {
  margin: 10px;
  width: 50%;
}

/* Login view styles */
#register:hover {
  opacity: 0.5;
}

/* Registration form styles */
.form-item {
  margin-bottom: 10px;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  nav {
      height: 225px;
      font-size: 20px;
  }
}

.row {
  justify-content: center;
}