<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
  <link rel="stylesheet" href="./css/style.css">
  <title>Mix It Up</title>
</head>

<body>
  <!-- Header -->


  <!-- Hero -->
  <div class="hero">
      <header>
    <h1 align="center"><i class="fas fa-glass-drink"></i>
      <img src="/assets/svg/glass-cheers-solid.svg">
      Mix It Up    
    </h1>
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav m-auto">
          <a class="nav-item nav-link" href="/"><button>Home</button></a>
          {{#if loggedIn}}
          <a class="nav-item nav-link" href="/catalog"><button>My Favorite Drinks</button></a>
          <a id="logout" class="nav-item nav-link"><button>Logout</button></a>
          {{else}}
          <a class="nav-item nav-link" href="/login"><button>Login</button></a>
          {{/if}}
        </div>
      </div>
    </nav>
  </header>
    <img src="/assets/images/navbar.jpeg" alt="Banner img" style="opacity: 0;">
  </div>

  <!-- Main -->
  <main class="p-3">
    {{{ body }}}
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>