<!DOCTYPE html>
<html lang="en">
<head>

    {{!-- Required Meta tags --}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mix It Up!</title>
    {{!-- Bootstrap CSS CDN link --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
      <h1>
        <a href="/"><i class="fas fa-glass-cheers"></i>Mix It Up</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a class ="home-btn" href="/">Home</a>
        <a class ="logout-btn" href="/logout">Logout</a>
        {{else}}
        <a class="login-btn" href="/login">Login</a>
        {{/if}}
      </nav>
    </header>

      <main>
          {{!-- <a class="button" href="/favorite-drinks">View Favorite Drinks</a> ---style like button? --}}
          {{!-- <a class="button" href="/by-type">Sort by Type</a> ---style like button? --}}
          {{!-- <a class="button" href="/add-custom">Add Custom Creation</a> ---style like button? --}}
      </main>

    
    
    {{!-- Required for Bootstrap to work: --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>