<h2 id='centered-form' class='d-flex justify-content-center'> Make a New Drink </h2>

<section id='AddDrink' class='d-flex justify-content-center'>
  
  <div id='holder'>
    <div class='row px-3 form-item'>
      <label class='mb-1'>
        <h6 class='mb-0 text-sm'>Drink Name</h6>
      </label>
      <input
        name='drink name'
        placeholder='Enter Drink Name Here'
        id='drink-name-entry'
      />
    </div>
    <div class='row px-3 form-item'>
      <label class='mb-1'>
        <h6 class='mb-0 text-sm'>Ingredients</h6>
      </label>
      <input
        name='ingredients'
        placeholder='Enter Drink Ingredients Here'
        id='ingredient-entry'
      />
    </div>
    <div class='row px-3 form-item'>
      <label class='mb-1'>
        <h6 class='mb-0 text-sm'>Instruction</h6></label>
      <textarea
        class='form-control'
        id='instruction-entry'
        rows='10'
      ></textarea>
    </div>
    <div class='row px-3 form-item'>
      <label class='mb-1'>
        <h6 class='mb-0 text-sm'>Username</h6>
      </label>
      <input
        name='username'
        placeholder='Enter your username'
        id='username-log'
      />
    </div>
    <div class='row px-3 mb-4'>
    </div>
    <div class='row mb-3 px-3'>
      <button
        type='button'
        class='btn btn-primary'
        id='AddDrink'
      >Submit</button>
    </div>
  </div>
</section>

<script src='/js/add-drink.js'></script>