<h2 id='centered-form' class='d-flex justify-content-center'> Edit Drink </h2>

<section id="editDrinkForm" class='d-flex justify-content-center'>
    
    <div id="holder">
        <div class="row px-3 form-item"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Drink Name</h6></label> 
            <textarea class="form-control" id="drink-name-entry" rows="1"> {{bp.name}} </textarea>
        </div>
        <div class="row px-3 form-item"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Instruction</h6></label>
            <textarea class="form-control" id="instruction-entry" rows="10"> {{bp.instruction}} </textarea>
        </div>
        <div class="row px-3 form-item"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Username</h6></label> 
            <textarea class="form-control" id="username-entry" rows="1"> {{bp.user.username}} </textarea>
        <div class="row px-3 mb-4">
        </div>
            <button type="button" class="btn btn-primary row mb-3 px-3" id="editDrinkBtn">Submit</button>
    </div>
</section>

<script src="/js/edit-drink.js"></script>