<main>
    <div class="p-3">
        <div class="container animate__animated animate__fadeInUp">
            <ol class="container flex-cards">
                {{#each drinks as |drink|}}
                <button>
                    {{>catalog-cards}}
                </button>
                {{/each}}
            </ol>
        </div>
    </div>
</main>