<section id="loginForm">
    <form class="login-form" id="holder">
        <div class="row px-3"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Username</h6>
            </label> <input class="mb-4" type="text" name="email" id="username-login" placeholder="Enter a valid username"> </div>
        <div class="row px-3"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Password</h6>
            </label> <input type="password" name="password" id="password-login" placeholder="Enter password"> </div>
        <div class="row px-3 mb-4">
        </div>
        <div class="row mb-3 px-3"> <button type="button" class="btn btn-primary" id="loginBtn">Login</button> </div>
        <div class="row mb-4 px-3"> <small class="font-weight-bold">Don't have an account? <a class="text-danger" href="/register"><span id="register">Register Here</span></a></small> </div>
    </form>
</section>

<script src="/js/login.js"></script>