<section id="registrationForm">
  <h2> New User Registration </h2>
  <div id="holder">
    <div class="row px-3 form-item">
      <label class="mb-1">
        <h6 class="mb-0 text-sm">Username</h6>
      </label>
      <input name="username" placeholder="Enter Username" id="username-entry" />
    </div>
    <div class="row px-3 form-item">
      <label class="mb-1">
        <h6 class="mb-0 text-sm">Email Address</h6>
      </label>
      <input
        name="email"
        placeholder="Ex: (fname.lname@email.com) "
        id="email-entry"
      />
    </div>
    <div class="row px-3 form-item">
      <label class="mb-1">
        <h6 class="mb-0 text-sm">Password</h6>
      </label>
      <input
        type="password"
        name="password"
        placeholder="Password must be at least 8 characters."
        id="password-entry"
      />
    </div>
    <div class="row px-3 mb-4">
    </div>
    <div class="row mb-3 px-3">
      <button
        type="button"
        class="btn btn-primary"
        id="registerBtn"
      >Submit</button>
    </div>
  </div>
</section>

<script src="/js/registration.js"></script>